@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&family=Sigmar&display=swap');
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}* html .clearfix{height:1%}.clearfix{display:block}:where(:not(iframe,canvas,img,svg,video):not(svg *)){all:unset;display:revert}*,::after,::before{box-sizing:border-box}ol,ul{list-style:none}img{max-width:100%}table{border-collapse:collapse}textarea{white-space:revert}
.floatleft{float:left}.floatright{float:right}.textalignleft{text-align:left}.textalignright{text-align:right}a{cursor:pointer}.spacing{padding:50px}#wrapper{width:1280px;margin:0 auto}
*{font-family: 'Poppins';}
.secondary{background: #caf0f8;padding: 15px 30px;border-radius: 5px;}
h2{font-weight: 700;font-size: 3.7em;line-height: 1em;color:#03045e;}
h3{font-weight: 700;font-size: 2.5em;line-height: 1em;color:#03045e;margin-bottom: 30px;}
h4{font-weight: 700;font-size: 1.4em;color:#03045e;margin-bottom: 20px;}
a:hover{color: #709ef3;}
.col-50{width: 50%;}
.col-33{width: 33.33%;}
.col-40{width: 40%;}
.col-60{width: 60%;}
.spacebetweensections{margin-bottom: 30px;}
.primaryboxes{background-color: #eefafd;border-radius: 7px;}
.primarybtn{background: #03045e;color: #caf0f8;padding: 30px 60px;border-radius: 7px;font-weight: 600;display: inline-block;font-size: 1.5em;transition: 400ms background-color ease,400ms color ease,400ms transform ease;}
.primarybtn:hover{background-color:white;color:#03045e;}
.secondarybtn{background:#caf0f8;color:#03045e;padding: 30px 60px;border-radius: 7px;font-weight: 600;display: inline-block;font-size: 1.5em;}
.secondarybtn:hover{background: white;color: #03045e;}
/* header */ 
#header{position: sticky;top: 0px;}
#wrapper{width: 100%;max-width: 1280px;margin: 0 auto;position: relative;}
#hero,#headerarea,#wanttotalk{background: #eefafd;}
#hero h2{color: #03045e;text-transform: capitalize;}
.loginarea li:first-child{margin: 0 32px;}
#mainnav .mainnavarea{margin: 0 auto;}
#mainnav .mainnavarea li,#login .loginarea li{float: left;font-size: 16px;color: #03045e;font-weight: 600;}
#logoarea{width: 34%;}
#mainnav .mainnavarea li{margin: 0 19px;    text-align: center;}
.Herodesc > h2{margin-bottom: 25px;}
.Herodesc{margin-bottom: 58px;}
.Herodesc{width: 66%;}
.ctabtns > div > .primarybtn{margin-right: 20px;}
.Herodesc > p {font-size: 1.1em;}
#content img{padding: 27px;border-radius: 33px;}
.servicesArea .box > .boxarea {padding: 40px;margin-right: 25px;}
.servicesArea .box:last-child > .boxarea{margin-right: 0;}
.client{box-shadow: 1px 4px 12px 5px #efeeee;padding: 30px;margin-right: 30px;}
.box:last-child .client{margin-right:0}
.boxarea p{min-height: 150px;font-size: 1.2em;}
.boxarea a{font-size: 1.2em;}
.boxarea img{margin-bottom: 20px;}
.city,.usertestimonials{color: #7c7c7c;}
.user{font-size: 1.7em;}
.wanttotalkarea{text-align: center;width: 60%;margin: 0 auto;padding:50px}
.wanttotalkarea h2{margin-bottom: 50px;}
.footerarea .mainsec{margin-right: 80px;}
.footerarea .mainsec li{margin-bottom: 15px;}
.footerarea .mainsec p,.footerarea .sub{font-weight: 600;margin-bottom: 20px;}
.footerarea .subarea{width: 80%;}
form{border: 1px solid #caf0f8;padding: 20px;border-radius: 30px;margin-top: 16px;}
.submitbtn{background: #caf0f8;color: #03045e;padding: 11px 34px;border-radius: 7px;font-weight: 600;display: inline-block;font-size: 1em;}
svg{fill:#03045e;width: 41px;height: 31px;}
.cookie{
    background:#eefafd;
    padding: 3em;
    border-radius: 2em;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,.50);
    font-size: 1.3rem;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    display: grid;
    grid-template-columns: 5fr 1fr ;
}

.cookie_link{
    font-weight: 600;
}
